.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    background-color: rgb(19, 19, 19);
    padding: 20px 10% 20px 10%;
    height: 100px;
    z-index: 1000;
}

.logo-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.logo-text {
    font-family: "oldDota2";
    font-size: 20px;
    color: rgb(173, 51, 42);
    letter-spacing: 20px;
}

.dota-logo {
    width: 150px;
}

.navigation-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding-left: 5%;
}

.navigation-group {
    display: flex;
    flex-direction: row;
}

.dota-nav-btn {
    box-sizing: border-box;
    border: 1px solid transparent;
    transition: border 0.3s ease;
    border-radius: 2px;
    font-family: "oldDota2";
    font-size: 16px;
    color: white;
    text-decoration-line: none;
    padding: 15px 30px;
}

.dota-nav-btn:hover {
    background-color: rgba(201, 201, 201, 0.178);
    border-color: rgba(255, 255, 255, 0.726);
}

.burger-menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: center;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.burger-bar {
    width: 30px;
    height: 4px;
    background-color: white;
    border-radius: 5px;
}

.fa-gamepad{
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 2px;
    background-color: rgb(23, 86, 102);
    border-radius: 20%;
    height: 22px;
}

@media (max-width: 768px) {
    .navigation-section {
        display: none;
    }

    .burger-menu {
        display: flex;
    }

    .navigation-section.show {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100px;
        background-color: rgb(19, 19, 19);
        z-index: 1000;
    }

    .header {
        padding: 0;
    }

    .burger-menu {
        margin-right: 10%;
        margin-top: 35px;
    }

    .logo-section {
        margin-left: 10%;
    }

    .navigation-group {
        flex-direction: column;
        width: 100%;
    }

    .dota-nav-btn {
        // padding: 10px 20px;
        text-align: center;
    }
}
