<div class="header">
    <div class="logo-section">
        <a class="dota-logo" href="/home">
            <img src="https://cdn.akamai.steamstatic.com/apps/dota2/images/dota_react/dota_footer_logo.png">
        </a>
        <div class="logo-text">Builds</div>
    </div>

    <div class="navigation-section" [ngClass]="{'show': menuOpen}">
        <nav class="navigation-group">
            <a class="dota-nav-btn" routerLink="">Home</a>
        </nav>
        <nav class="navigation-group">
            <a class="dota-nav-btn" routerLink="/heroes">Heroes</a>
            <a class="dota-nav-btn" routerLink="/items">Items</a>
            <a class="dota-nav-btn" routerLink="/build-creator">Build Creator</a>
        </nav>
        <nav class="navigation-group">
            <a class="dota-nav-btn" routerLink="/profile">
                <i class="fas fa-gamepad"></i>
                Profile</a>
            <a class="dota-nav-btn" routerLink="/login">Login</a>
            <a class="dota-nav-btn" routerLink="/register">Register</a>
        </nav>
    </div>

    <div class="burger-menu" (click)="toggleMenu()">
        <div class="burger-bar"></div>
        <div class="burger-bar"></div>
        <div class="burger-bar"></div>
    </div>
</div>